@model CRIPCO.Models.PerfilUsuarioViewModel

@{
    ViewBag.Title = "VerPerfilUsuario";
}





<div class="profile-container">
    <!-- begin profile-section -->
    <div>
        <h3>Perfil de Usuario</h3>
        <hr />
    </div>
      <div class="profile-section">
        <!-- begin profile-left -->
        <div class="profile-left">
            <!-- begin profile-image -->
            <div class="profile-image">
                <img src="~/assets/img/profile-cover.jpg">
              
                <i class="fa fa-user hide"></i>
            </div>
            <!-- end profile-image -->
            <div class="m-b-10">
                <a href="#" class="btn btn-warning btn-block btn-sm">Cambiar Fotografia</a>
            </div>
            <!-- begin profile-highlight -->
            @*<div class="profile-highlight">
                <h4><i class="fa fa-cog"></i> Only My Contacts</h4>
                <div class="checkbox m-b-5 m-t-0">
                    <label><input type="checkbox"> Show my timezone</label>
                </div>
                <div class="checkbox m-b-0">
                    <label><input type="checkbox"> Show i have 14 contacts</label>
                </div>
            </div>*@
            <!-- end profile-highlight -->
        </div>
        <!-- end profile-left -->
        <!-- begin profile-right -->
        <div class="profile-right">
            <!-- begin profile-info -->
            <div class="profile-info">
                <!-- begin table -->
                <div class="table-responsive">
                    <table class="table table-profile">
                        <thead>
                            @*<tr>
                                <th></th>
                                <th>
                                    <h4>@Model.Nombre @Model.Apellido</h4>
                                </th>
                            </tr>*@
                        </thead>
                        <tbody>
                            <tr>
                                <td class="field">Nombre</td>
                                <td> @Model.Nombre</td>
                            </tr>
                            <tr>
                                <td class="field">Apellido</td>
                                <td> @Model.Apellido</td>
                            </tr>
                            <tr>
                                <td class="field">Identidad</td>
                                <td> @Model.Identidad</td>
                            </tr>

                            <tr>
                                <td class="field">Fecha Nac.</td>
                                <td>@Model.FechaNacimiento.ToShortDateString()</td>
                            </tr>

                            <tr>
                                <td class="field">Tipo Usuario</td>
                                <td>@Model.TipoUsuario</td>
                            </tr>
                            <tr>
                                <td class="field">Correo</td>
                                <td>@Model.CorreoElectronico</td>
                            </tr>
                            <tr>
                                <td class="field">Cuenta Usuario</td>
                                <td>@Model.NombreUsuario</td>
                            </tr>
                            <tr class="divider">
                                <td colspan="2"></td>
                            </tr>

                          
                          
                           
                          
                        </tbody>
                    </table>
                </div>
                <!-- end table -->
            </div>
            <!-- end profile-info -->
        </div>
        <!-- end profile-right -->
    </div>
    <!-- end profile-section -->
    <!-- begin profile-section -->
  
</div>