@model CRIPCO.Models.Expedientes.ExpedientesViewModel

@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm("CrearExpediente","Expedientes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      @Html.HiddenFor(x=>x.CitaID)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Comentario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Documento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Documento2" name="Documento"/>

                @*@Html.EditorFor(model => model.Documento, new { htmlAttributes = new { @class = "form-control", @type="file" } })*@
                @Html.ValidationMessageFor(model => model.Documento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar Expediente" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
