@model CRIPCO.BD.Sala

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sala</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreadoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreadoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModificadoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModificadoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SalaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
