<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>CRIPCO PLANNER</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    @Styles.Render("~/bundles/CSS")
    @*@Scripts.Render("~/bundles/modernizr")*@

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>


    <div id="MyModal" class="modal fade" role="dialog" data-backdrop='static' data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"> <big>&times;</big></button>
                    <h4 class="modal-title" id="MyModalTitle">Modal Header</h4>
                </div>
                <div class="modal-body" id="MyModalBody">
                    <p>Some text in the modal.</p>
                </div>
                @*<div class="modal-footer" id="MyModalFooter">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
            </div>

        </div>
    </div>
    <div class="modal" id="modalWaitingTime" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="">
        <div class="modal-dialog" role="document" style="margin-top: 15%;">
            <div class="modal-body text-center">
                @*<center><img src="~/assets/img/logo.png" class="status2" style="color: #fff;" /></center>
                <h5><span style="color: #fff;">Procesando Consulta...</span></h5>*@
                <div class="material-loader">
                    <svg class="circular" viewBox="25 25 50 50" style="color: #fff;">
                        <circle style="color: #fff;" class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                    </svg>
                    <div class="message" style="color: #fff;">Cargando...</div>
                </div>
            </div>
        </div>

    </div>
    <!-- begin #page-loader -->
    <div id="page-loader">
        <div class="material-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
            <div class="message">Cargando...</div>
        </div>
    </div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed page-with-wide-sidebar">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-default navbar-fixed-top">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <!-- begin mobile sidebar expand / collapse button -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle-left" data-click="sidebar-minify">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   
                    <a class="navbar-brand">
                        @*<img style="width:30px;height:36px; display:inline;" src="~/assets/img/logocripco.png" />*@ CRIPCO PLANNER
                    </a>
                </div>
                <!-- end mobile sidebar expand / collapse button -->
                <!-- begin header navigation right -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="icon notification waves-effect waves-light" data-toggle="navbar-search"><i class="material-icons">search</i></a>
                    </li>
                    <li class="dropdown">
                        @*<a href="#" class="icon notification waves-effect waves-light" data-toggle="dropdown">
                            <i class="material-icons">inbox</i> <span class="label label-notification">5</span>
                        </a>*@
                        @*<ul class="dropdown-menu media-list pull-right animated fadeInDown">
                            <li class="dropdown-header bg-indigo text-white">Notifications (5)</li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="~/assets/img/user-1.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">John Smith</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">25 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="~/assets/img/user-2.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Olivia</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">35 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="material-icons media-object bg-deep-purple">people</i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New User Registered</h6>
                                        <div class="text-muted f-s-11">1 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="material-icons media-object bg-blue">email</i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New Email From John</h6>
                                        <div class="text-muted f-s-11">2 hours ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="material-icons media-object bg-teal">shopping_basket</i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">You sold an item!</h6>
                                        <div class="text-muted f-s-11">3 hours ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-footer text-center">
                                <a href="javascript:;">View more</a>
                            </li>
                        </ul>*@
                    </li>
                    <li class="dropdown navbar-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/assets/img/user-6.jpg" alt="" />
                            <span class="hidden-xs">Hola, @User.Identity.Name</span>
                        </a>
                        <ul class="dropdown-menu animated fadeInLeft">
                            <li class="arrow"></li>
                            @*<li><a href="javascript:;">Edit Profile</a></li>
                            <li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
                            <li><a href="javascript:;">Calendar</a></li>*@
                            @*<li><a href="@Url.Action("VerPerfilUsuario", "Manage")">Perfil</a></li>*@
                  @*          <li><a href="javascript:;">Perfil</a></li>*@
                           
                            
                             <li class="divider"></li>    
                            <li><a href="@Url.Action("LogOff", "Account")">Cerrar Sesion</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- end header navigation right -->

                <div class="search-form">
                    <button class="search-btn" type="submit"><i class="material-icons">search</i></button>
                    <input type="text" class="form-control" placeholder="Search Something...">
                    <a href="#" class="close" data-dismiss="navbar-search"><i class="material-icons">close</i></a>
                </div>
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end #header -->
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar user -->
                <ul class="nav">
                    <li class="nav-profile">
                        <a href="#" data-toggle="nav-profile">
                            <div class="image">
                                <img src="~/assets/img/user-6.jpg" alt="" />
                            </div>
                            <div class="info">
                                <b class="caret pull-right"></b>
                               @User.Identity.Name
                                <small></small>
                            </div>
                        </a>
                    </li>
                    <li>
                        <ul class="nav nav-profile">
                            <li><a href="/Manage/VerPerfilUsuario"><i class="material-icons">face</i> Perfil</a></li>
       
                        </ul>
                    </li>
                </ul>
                <!-- end sidebar user -->
                <!-- begin sidebar nav -->
                <ul class="nav">                 
                    <li class="has-sub">
                        <a href="/Home/Index">
                           <i class="material-icons">home</i> <span>Inicio</span>
                        </a>
                        @*<ul class="sub-menu">
                            <li><a href="@Url.Action("Index","Home")" title="Home"><span>Inicio</span></a></li>
                            <li><a href="@Url.Action("Index","Home")" title="Home"><span>Inicio2</span></a></li>
                            <li><a href="@Url.Action("Index","Home")" title="Home"><span>Inicio3</span></a></li>
                        </ul>*@

                    </li>
                    @if (User.IsInRole("Administrador"))
                    {               
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b><i class="material-icons">person</i> <span>Gestion de Usuarios</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("Index","Usuario")" title="Lista de Usuarios"><span>Usuarios</span></a></li>
                            <li><a href="@Url.Action("CrearUsuario","Usuario")" title="Crear"><span>Crear Usuario</span></a></li>
                            <li><a href="@Url.Action("Index","Role")" title="Tipos"><span>Tipo de Usuarios</span></a></li>
                           
                        </ul>
                    </li>

                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b><i class="material-icons">business_center</i> <span>Administracion</span>
                        </a>
                        <ul class="sub-menu">

                            <li><a href="@Url.Action("Index","Sala")" title="Sala"><span>Salas</span></a></li>
                            <li><a href="@Url.Action("Index","Area")" title="Area"><span>Areas</span></a></li>
                            <li><a href="@Url.Action("Index","Especialidades")" title="Especialidades"><span>Especialidades</span></a></li>
                            <li><a href="@Url.Action("Index","Cita")" title="Citas"><span>Citas</span></a></li>
                            
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b><i class="material-icons">chrome_reader_mode</i> <span>Gestion de Contenido</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("Index","CmsArticulos")" title="Lista de Articulos"><span>Articulos</span></a></li>
                            

                        </ul>
                    </li>


                    }
                    @if (User.IsInRole("Doctor"))
                    {
                        <li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b><i class="material-icons">access_alarm</i> <span>Horarios</span>
                            </a>
                            <ul class="sub-menu">
                                
                                @*<li><a href="@Url.Action("Index","Cita")" title="Area"><span>Citas</span></a></li>*@
                                <li><a href="@Url.Action("Index","Horario")" title="Calendario"> <span>Ver Horarios</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b><i class="material-icons">assignment_ind</i> <span>Expedientes</span>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="@Url.Action("Index","Expedientes")" title="Expedientes"> <span>Ver Expedientes</span></a></li>

                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Paciente") || User.IsInRole("Asistente"))
                    {
                        <li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b><i class="material-icons">access_alarm</i> <span>Citas</span>
                            </a>
                            <ul class="sub-menu">
                               
                                <li><a href="@Url.Action("CrearCita","Cita")" title="Cita"><span>Reservar Cita</span></a></li>
                                @if (User.IsInRole("Paciente"))
                                {
                                   
                                    <li><a href="@Url.Action("HistorialCitasPaciente", "Cita")" title="Cita"><span> Historial de Citas</span ></a ></li >
                                }

                                @*<li><a href="@Url.Action("Index","Horario")" title="Calendario"> <span>Calendario</span></a></li>*@
                            </ul>
                        </li>

                    }



                    <!-- begin sidebar minify button -->
                    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
                    <!-- end sidebar minify button -->
                </ul>
                <!-- end sidebar nav -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>
        <div class="sidebar-bg"></div>
        <!-- end #sidebar -->
        <!-- begin #content -->
        <div id="content" class="content">
            <!-- begin breadcrumb -->
            @RenderBody()

           <!-- end row -->
        </div>
        <!-- end #content -->
        <!-- begin theme-panel -->
        @*<div class="theme-panel">
            <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
            <div class="theme-panel-content">
                <h5 class="m-t-0">Color Theme</h5>
                <ul class="theme-list clearfix">
                    <li class="active"><a href="javascript:;" class="bg-cyan" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default/Cyan">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-black" data-theme="black" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a></li>
                </ul>
                <div class="divider"></div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Header Styling</div>
                    <div class="col-md-7">
                        <select name="header-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">inverse</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label">Header</div>
                    <div class="col-md-7">
                        <select name="header-fixed" class="form-control input-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Sidebar Styling</div>
                    <div class="col-md-7">
                        <select name="sidebar-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">grid</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label">Sidebar</div>
                    <div class="col-md-7">
                        <select name="sidebar-fixed" class="form-control input-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Sidebar Gradient</div>
                    <div class="col-md-7">
                        <select name="content-gradient" class="form-control input-sm">
                            <option value="1">disabled</option>
                            <option value="2">enabled</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-inverse btn-block btn-sm" data-click="reset-local-storage"><i class="fa fa-refresh m-r-3"></i> Reset Local Storage</a>
                    </div>
                </div>
            </div>
        </div>*@
        <!-- end theme-panel -->
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>

    @Scripts.Render("~/bundles/ColorAdmin")
    @Scripts.Render("~/bundles/personalized")

    @RenderSection("scripts", required: false)
    
    <script>
		$(document).ready(function() {
			App.init();
			//DashboardV2.init();
		});
    </script>


    

</body>
</html>
