@model IEnumerable<CRIPCO.Models.TreeNodeModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="col-md-10 ui-sortable"> 
    <div class="panel panel-inverse" data-sortable-id="form-validation-1">
        <div class="panel-heading">
            <h4 class="panel-title">Articulos de la pagina Web</h4>
        </div>
        <div class="panel-body">

        
            <div id="jstree-default" class="jstree jstree-1 jstree-default" role="tree" aria-multiselectable="true" tabindex="0" aria-activedescendant="j1_1" aria-busy="false">
                <ul class="jstree-container-ul jstree-children" role="group">

                    @Html.Raw(ViewBag.Tree);
                    @*<li role="treeitem" data-jstree="{&quot;opened&quot;:true, &quot;selected&quot;:true }" aria-selected="true" aria-level="2" aria-labelledby="j1_2_anchor" id="j1_2" class="jstree-node  jstree-leaf">
                            <i class="jstree-icon jstree-ocl" role="presentation"></i>
                            <a class="jstree-anchor  jstree-clicked" href="#" tabindex="-1" id="j1_2_anchor">
                                <i class="jstree-icon jstree-themeicon fa fa-folder text-warning fa-lg jstree-themeicon-custom" role="presentation"></i>
                                Initially Selected
                            </a>
                        </li>

                        <li role="treeitem" data-jstree="{" opened":true}" aria-selected="true" aria-level="1" aria-labelledby="j1_1_anchor" aria-expanded="true" id="j1_1" class="jstree-node jstree-open">
                            <i class="jstree-icon jstree-ocl" role="predesentation"></i>
                            <a class="jstree-anchor" href="" tabindex="-1" id="j1_10_anchor">
                                <i class="jstree-icon jstree-themeicon fa fa-link fa-lg text-primary jstree-themeicon-custom" role="presentation"></i>
                                Menu
                            </a>
                        </li>*@
                </ul>

            </div>

            <p>
                @Html.ActionLink("Crear nuevo articulo", "Create", null, new { @class = "btn btn-success" })
            </p>


        </div>
    </div>
</div>



@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArticuloName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentArticulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArticuloName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentArticulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ArticuloId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ArticuloId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ArticuloId })
            </td>
        </tr>
    }

    </table>*@
