@model CRIPCO.BD.Cita

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Cita</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CreadoPor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreadoPor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FechaCreado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FechaCreado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ModificadoPor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ModificadoPor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Activo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Activo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Horario.CreadoPor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Horario.CreadoPor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Persona.IdAspnetUser)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Persona.IdAspnetUser)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CitaID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
