@model IEnumerable<CRIPCO.BD.Cita>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreadoPor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModificadoPor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario.CreadoPor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona.IdAspnetUser)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreadoPor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModificadoPor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario.CreadoPor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.IdAspnetUser)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CitaID }) |
                @Html.ActionLink("Details", "Details", new { id=item.CitaID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CitaID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
