@model CRIPCO.Models.Roles.CrearRolViewModel


@using (Html.BeginForm("Editar", "Role", FormMethod.Post, new { id = "FormEditarRole" }))
{

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control pull-left", @style = "width:5%;" } })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-success" onclick="EditarRole()"> Guardar</a>
            </div>
        </div>
    </div>
}




@Scripts.Render("~/bundles/jqueryval")

<script>


    function EditarRole() {

            if (!$("#FormEditarRole").valid()) { return false; }

            LoadWaitNotification();
                $.ajax({
                    url: "/Role/Editar",
                    type: 'POST',
                    dataType: 'json',
                    data: $('#FormEditarRole').serialize(),
                    success: function (data) {

                        if (data.Estado) {
                            ShowNotification(data.Estado, data.Titulo, data.Mensaje);
                            new $.fn.dataTable.Api("#IdTabla").ajax.reload();
                            $("#MyModal").modal("hide");
                        } else ShowNotification(data.Estado, data.Titulo, data.Mensaje);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(textStatus+" : problemas de red")
                        UnloadWaitNotification();
                    },
                    complete: function () { UnloadWaitNotification(); }
                });

        };




</script>
