@model IEnumerable<CRIPCO.BD.Cita>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreadoPor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModificadoPor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horario.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.IdAspnetUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sala.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreadoPor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModificadoPor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Horario.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.IdAspnetUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sala.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CitaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CitaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CitaID })
        </td>
    </tr>
}

</table>
